@charset "utf-8";

table {
border-collapse: collapse;
border-style: solid;
border-color: #a0a0a0;
border-width: 2px;

width: 100%;
}

tr {
border-collapse: collapse;
border-style: solid;
border-color: #a0a0a0;
border-width: 2px;
}

th {
border-collapse: collapse;
border-style   : solid;
border-color   : #a0a0a0;
border-width   : 2px;

padding-top    : 3px;
padding-bottom : 3px;
padding-left   : 3px;
padding-right  : 3px;

font-size      : 9pt;
font-weight    : bolder;
font-style     : normal;

background     : #f0f0f0;
color          : #000000;

line-height    : 1.5em;
vertical-align : central;
text-align     : center;
}

td {
border-collapse: collapse;
border-style   : solid;
border-color   : #a0a0a0;
border-width   : 2px;

padding-top    : 3px;
padding-bottom : 3px;
padding-left   : 3px;
padding-right  : 3px;

font-size      : 9pt;
font-weight    : bolder;
font-style     : normal;

background     : #ffffff;
color          : #000000;

line-height    : 1.5em;
vertical-align : central;
text-align     : left;
}
